body{
  background-image: url(images/background.jpg);
  color: white;
  font-size: 20px;
  font-family: Helvetica;
}
h1{
  font-family: orator;
  color: white;
  font-weight: bold;
  font-size: 40px;
}

p{
  font-family: orator;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
h2 {
  font-family: Courier;
  color: white;
  font-weight: lighter;
  font-size: 18px;
}
a {
  font-family: orator;
  color: white;
  font-size: 25px;
}
a:hover {
  text-decoration: none;
  color: white;
}

#yolo {
  padding: 50px;
  text-align: center;
  }

.card {text-align: center; padding: 40px}

#footer {
  background-color: brown;
  color : white;
  padding : 30px;
  margin: 30px;
}

#footer a {
  color: white;
  font-size: 30px;
}
#footer a:hover {
  color: pink;
}

.outer-div
{
  padding: 30px;
  background-color: #f3f3f3;
}
.inner-div
{
  margin: 0 auto;
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 3px;
}


#global {
  margin-left: auto;
  margin-right: auto;
  width: ...;
  background-color: brown;
  padding : 30px;
  margin: 40px;
  }

#cadre {
  margin-left: auto;
  margin-right: auto;
  width: ...;
  }

.container
{
margin-left: auto;
  margin-right: auto;
  
  background-color: brown;
  margin: 40px;
  }